.p-container {
    display: flex;
    width: 100%;
    height: 90%;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding-top: 5%;
    padding-bottom: 5%;
}

.p-leftbar {
    display: flex;
    height: 100%;
    width: 40%;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
}

.p-rightbar {
    display: flex;
    height: 100%;
    width: 60%;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.p-proj-modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
}

.p-proj-modal-content {
    display: none;
    background-color: blue;
    /*need to add some other style stuff here*/
}

.p-proj-modal-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #202020;
    font-size: 1.5vw;
    padding-left: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: 'made_evolve_thin', Arial, sans-serif;
}

.p-proj-title {
    color: #202020;
    font-size: 1.5vw;
    padding-left: 5%;
}

.p-proj-desc {
    color: #202020;
    font-size: 1.75vw;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'made_evolve_thin', Arial, sans-serif;
}