.p-container {
    display: flex;
    width: 100%;
    height: 90%;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding-top: 5%;
    padding-bottom: 5%;
}

.p-leftbar {
    display: flex;
    height: 100%;
    width: 40%;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
}

.p-rightbar {
    display: flex;
    height: 100%;
    width: 60%;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.p-proj-modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,0.25);
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.p-proj-modal-content {
    display: flex;
    background-color: #bbb;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    animation-name: mation;
    animation-duration: 0.5s
}

@keyframes mation {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
  }

.p-proj-modal-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #202020;
    font-size: 1.5vw;
    margin-left: 5%;
    padding-left: 0%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: 'made_evolve_thin', Arial, sans-serif;
}

.p-proj-modal-close-container {
    color: #eee;
    float: right;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.p-proj-modal-close {
    color: #eee;
    float: right;
    font-size: 2vw;
    font-weight: bold;
    margin-right: 2.5%;
}

.p-proj-modal-close:hover, 
.p-proj-modal-close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.p-proj-modal-pdf {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.p-proj-title {
    color: #202020;
    font-size: 1.5vw;
    padding-left: 5%;
}

.p-proj-desc {
    color: #202020;
    font-size: 1.5vw;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 175%;
    font-family: 'made_evolve_thin', Arial, sans-serif;
}

.p-proj-leftbar-img {
    width: 90%;
    padding: 0;
    margin: 0;
    padding-left: 5%;
}