body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #202020;
  font-family: 'made_evolve_sansmedium', Arial, sans-serif;
}

@font-face {
  font-family: 'made_evolve_sansmedium';
  src: url('font-webfont.woff2') format('woff2'),
       url('font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffd7f8;
}

a:active {
  text-decoration: underline;
  color: #252525;
}

p {
  font-family: 'made_evolve_sansmedium', Arial, sans-serif;
}

nav {
  position: fixed;
  top: 0;
}

h3 {
  font-size: 55px;
}

.topbar {
  display: flex;
  vertical-align: top;
  width: 100%;
  height: 8%;
  background-color: #303030;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row nowrap;
}

.container {
  display: inline-flex;
  height: 90%;
  width: 100%;
  background-color: #202020;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.container-last {
  display: inline-flex;
  height: 90%;
  width: 100%;
  background-color: #202020;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.container-id {
  display: inline-flex;
  height: 8%;
  width: 100%;
  background-color: #202020;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.container-id2 {
  display: inline-flex;
  height: 6%;
  width: 100%;
  background-color: #202020;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.container-contact {
  display: inline-flex;
  height: 111%;
  width: 100%;
  background-color: #202020;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.leftbar {
  display: inline-flex;
  height: 100%;
  width: 30%;
  background-color: #cbcbcb;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.main {
  display: inline-flex;
  height: 100%;
  width: 70%;
  background-color: #101010;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.button {
  width: 40%; 
  height: 10%;
  font-size: 35px; 
  font-family: 'made_evolve_sansmedium', Arial, sans-serif;
  background-color: #000000;
  color: #cbcbcb;
}

.button:hover {
  color: black;
  background-color: #cbcbcb;
}

.about {
  display: inline-flex;
  height: 100%;
  width: 70%;
  background-color: #101010;
  flex-flow: column nowrap;
  font-family: 'made_evolve_sansmedium', Arial, sans-serif;
  align-items: flex-start;
  justify-content: flex-start;
}
