.about-header {
    color: #ffffff;
    font-size: 2.25vw;
}

.about-header2 {
    color: #ffffff;
    font-size: 1.75vw;
}

.about-desc {
    color: #ffffff;
    font-size: 1.5vw;
    font-family: 'made_evolve_thin', Arial, sans-serif;
    /* padding-right: 10%; */
    margin-top: 0;
}